In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.16.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import requests
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import SessionNotCreatedException
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver import ActionChains
import re

In [8]:
# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
# = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
# A) Rank 
# B) Name 
# C) Artist 
# D) Upload date 
# E) Views

In [171]:
driver= webdriver.Chrome()

In [172]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [175]:
name= []
artist= []
upload_date= [] 
views= []

In [176]:
name_tag= driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in name_tag:
    song_name= i.text
    name.append(song_name)
    
artist_tag= driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in artist_tag:
    artist_name= i.text
    artist.append(artist_name)
    
upload_date_tag= driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in upload_date_tag:
    date= i.text
    upload_date.append(date)
    
views_tag= driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in views_tag:
    no_of_views= i.text
    views.append(no_of_views)

In [177]:
print(len(name),len(artist),len(upload_date),len(views))

30 30 30 30

In [178]:
df=pd.DataFrame({'Song':name,'Artist':artist,'Upload Date':upload_date,'Views':views})
df

,Song,Artist,Upload Date,Views
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,8.38,"January 12, 2017"
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,"""Shape of You""[19]",Ed Sheeran,6.20,"January 30, 2017"
5,"""See You Again""[22]",Wiz Khalifa,6.17,"April 6, 2015"
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,"""Uptown Funk""[29]",Mark Ronson,5.15,"November 19, 2014"
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.07,"February 27, 2018"
10,"""Gangnam Style""[31]",Psy,5.05,"July 15, 2012"
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.58,"January 31, 2012"
12,"""Dame Tu Cosita""[37]",Ultra Records,4.55,"April 5, 2018"
13,"""Axel F""[38]",Crazy Frog,4.34,"June 16, 2009"
14,"""Sugar""[39]",Maroon 5,4.00,"January 14, 2015"
15,"""Counting Stars""[40]",OneRepublic,3.97,"May 31, 2013"
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,"""Roar""[42]",Katy Perry,3.96,"September 5, 2013"
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.91,"June 14, 2018"
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.85,"June 4, 2010"
20,"""Sorry""[45]",Justin Bieber,3.77,"October 22, 2015"
21,"""Thinking Out Loud""[46]",Ed Sheeran,3.73,"October 7, 2014"
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,"""Dark Horse""[49]",Katy Perry,3.67,"February 20, 2014"
25,"""Perfect""[50]",Ed Sheeran,3.67,"November 9, 2017"
26,"""Let Her Go""[51]",Passenger,3.61,"July 25, 2012"
27,"""Faded""[52]",Alan Walker,3.59,"December 3, 2015"
28,"""Girls Like You""[53]",Maroon 5,3.56,"May 31, 2018"
29,"""Lean On""[54]",Major Lazer Official,3.55,"March 22, 2015"

In [11]:
# 2. Scrape the details team India’s international fixtures from bcci.tv. 
# Url = https://www.bcci.tv/. 
# You need to find following details: 
# A) Series 
# B) Place 
# C) Date 
# D) Time 
# Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [12]:
driver= webdriver.Chrome()

In [13]:
driver.get('https://www.bcci.tv/')

In [15]:
designation= driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
designation.click()

In [17]:
series= []
place= []
stadium= []
date= []
time= []

In [19]:
series_tag= driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tag:
    upcoming_series= i.text
    series.append(upcoming_series)
    
place_tag= driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in place_tag:
    places= i.text
    place.append(places)
    
stadium_tag= driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in stadium_tag:
    stadiums= i.text
    stadium.append(stadiums)
    
date_tag= driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[1]')
for i in date_tag:
    dates= i.text
    date.append(dates)
    
time_tag= driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[2]')
for i in time_tag:
    timing= i.text
    time.append(timing)

In [20]:
print(len(series),len(place),len(stadium),len(date),len(time))

7 7 7 7 7

In [21]:
df= pd.DataFrame({'Series Name':series,'Place':place,'Stadium':stadium,'Date':date,'Time':time})
df

,Series Name,Place,Stadium,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,Ranchi,"JSCA International Stadium Complex,","23 FEBRUARY, 2024",9:30 AM IST
1,ENGLAND TOUR OF INDIA 2023-24,Dharamsala,"Himachal Pradesh Cricket Association Stadium,","7 MARCH, 2024",9:30 AM IST
2,INDIA TOUR OF ZIMBABWE 2024,Harare,"Harare Sports Club,","6 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,Harare,"Harare Sports Club,","7 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,Harare,"Harare Sports Club,","10 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,Harare,"Harare Sports Club,","13 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,Harare,"Harare Sports Club,","14 JULY, 2024",8:00 PM IST

In [31]:
# 3. Scrape the details of State-wise GDP of India from statisticstime.com. 
# Url = http://statisticstimes.com/ 
# You have to find following details: A) Rank 
# B) State 
# C) GSDP(18-19)- at current prices 
# D) GSDP(19-20)- at current prices 
# E) Share(18-19) 
# F) GDP($ billion) 
# Note: - From statisticstimes home page you have to reach to economy page through code.

In [153]:
driver= webdriver.Chrome()

In [154]:
driver.get('http://statisticstimes.com/')

In [155]:
designation= driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
actions = ActionChains(driver)
actions.move_to_element(designation).perform()

In [156]:
designation2= driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
designation2.click()

In [157]:
designation3= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
designation3.click()

In [160]:
ranking= []
states= []
gsdp1= [] 
gsdp2= [] 
share= [] 
gdp= []

rank_tag= driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank_tag:
    ranks= i.text
    ranking.append(ranks)
    
state_tag= driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for i in state_tag:
    state= i.text
    states.append(state)

gs_tag= driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
for i in gs_tag:
    gss= i.text
    gsdp1.append(gss)
    
dp_tag= driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for i in dp_tag:
    dps= i.text
    gsdp2.append(dps)
    
share_tag= driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
for i in share_tag:
    sharetext= i.text
    share.append(sharetext)
    
gdp_tag= driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]")
for i in gdp_tag:
    gdps= i.text
    gdp.append(gdps)
    
ranking33= ranking[:33]
states33= states[:33]
gsdp133= gsdp1[:33] 
gsdp233= gsdp2[:33] 
share33= share[:33] 
gdp33= gdp[:33]

print(len(ranking33),len(states33), len(gsdp133), len(gsdp233), len(share33), len(gdp33))

33 33 33 33 33 33

In [161]:
df=pd.DataFrame({'Ranking':ranking33,'State Name':states33, 'GSDP(21-22)':gsdp233, 'GSDP(22-23)':gsdp133, 'Share(21-22)':share33, 'GDP':gdp33})
df

,Ranking,State Name,GSDP(21-22),GSDP(22-23),Share(21-22),GDP
0,1,Maharashtra,"3,108,022",-,13.24%,417.163
1,2,Tamil Nadu,"2,071,286","2,364,514",8.82%,278.011
2,3,Uttar Pradesh,"1,974,532","2,257,575",8.41%,265.024
3,4,Karnataka,"1,962,725","2,241,368",8.36%,263.440
4,5,Gujarat,"1,937,066",-,8.25%,259.996
5,6,West Bengal,"1,363,926","1,554,992",5.81%,183.068
6,7,Rajasthan,"1,218,193","1,413,620",5.19%,163.507
7,8,Madhya Pradesh,"1,136,137","1,322,821",4.84%,152.494
8,9,Andhra Pradesh,"1,133,837","1,317,728",4.83%,152.185
9,10,Telangana,"1,128,907","1,313,391",4.81%,151.523
10,11,Kerala,"932,470",-,3.97%,125.157
11,12,Delhi,"904,642","1,043,759",3.85%,121.422
12,13,Haryana,"870,665","994,154",3.71%,116.862
13,14,Odisha,"670,881","774,869",2.86%,90.047
14,15,Bihar,"650,302","751,396",2.77%,87.284
15,16,Punjab,"614,227","673,107",2.62%,82.442
16,17,Assam,"412,612","493,167",1.76%,55.381
17,18,Chhattisgarh,"406,416","457,608",1.73%,54.550
18,19,Jharkhand,"358,863","393,722",1.53%,48.167
19,20,Uttarakhand,"272,159","302,621",1.16%,36.530
20,21,Jammu & Kashmir-UT,"199,917","227,927",0.85%,26.833
21,22,Himachal Pradesh,"176,269","195,405",0.75%,23.659
22,23,Goa,"82,604",-,0.35%,11.087
23,24,Tripura,"62,550","72,636",0.27%,8.396
24,25,Chandigarh,"45,635",-,0.19%,6.125
25,26,Puducherry,"44,238",-,0.19%,5.938
26,27,Meghalaya,"38,785","42,697",0.17%,5.206
27,28,Sikkim,"37,557","42,756",0.16%,5.041
28,29,Manipur,"36,594",-,0.16%,4.912
29,30,Arunachal Pradesh,"35,124",-,0.15%,4.714
30,31,Nagaland,"31,913",-,0.14%,4.283
31,32,Mizoram,"27,824",-,0.12%,3.735
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.392

In [36]:
# 4. Scrape the details of trending repositories on Github.com. 
# Url = https://github.com/ 
# You have to find the following details: 
# A) Repository title 
# B) Repository description 
# C) Contributors count 
# D) Language used

In [99]:
driver= webdriver.Chrome()

In [100]:
driver.get('https://github.com/')

In [101]:
designation = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
actions = ActionChains(driver)
actions.move_to_element(designation).perform()

In [102]:
designation1= driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]')
designation1.click()

In [127]:
repositorytitle= []
repositorydescription= []
contributorscount= []
languageused= []

In [128]:
title= driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in title:
    if i is None:
        repositorytitle.append('--')
    else:
        repositorytitle.append(i.text)
print(len(repositorytitle))

25

In [132]:
description= driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in range(25):
    if i < len(description):
        repositorydescription.append(description[i].text)
    else:
        repositorydescription.append('--')

count= driver.find_elements(By.XPATH,'//span[@class="d-inline-block float-sm-right"]')
for i in range(25):
    if i < len(count):
        contributorscount.append(count[i].text)
    else:
        contributorscount.append('--')

language_elements = driver.find_elements(By.XPATH, '//span[@itemprop="programmingLanguage"]')
for i in range(25):
    if i < len(language_elements):
        languageused.append(language_elements[i].text)
    else:
        languageused.append('--')

In [133]:
print(len(repositorytitle),len(repositorydescription),len(contributorscount),len(languageused))

25 25 25 25

In [134]:
df=pd.DataFrame({'Repository Title':repositorytitle,' Description':repositorydescription,'Contributors':contributorscount,'Language':languageused})
df

,Repository Title,Description,Contributors,Language
0,I-S00N /,"Minimal, clean, code for the Byte Pair Encodin...","1,345 stars today",Python
1,karpathy /,Detect file content types with deep learning,"1,941 stars today",Python
2,google /,🔎 Hunt down social media accounts by username ...,986 stars today,Python
3,sherlock-project /,"Official PyTorch Implementation of ""Scalable D...",473 stars today,Python
4,facebookresearch /,The official gpt4free repository | various col...,336 stars today,Python
5,LargeWorldModel /,"🤖 Lobe Chat - an open-source, high-performance...","1,397 stars today",Python
6,xtekky /,A UI-Focused Agent for Windows OS Interaction.,294 stars today,TypeScript
7,lobehub /,PyTorch code and models for V-JEPA self-superv...,89 stars today,Python
8,microsoft /,"《Hello 算法》：动画图解、一键运行的数据结构与算法教程，支持 Python, C++,...",160 stars today,Python
9,facebookresearch /,"Multi-platform auto-proxy client, supporting S...",283 stars today,Java
10,krahets /,Langchain-Chatchat（原Langchain-ChatGLM）基于 Langc...,352 stars today,Dart
11,hiddify /,A framework for building native applications u...,75 stars today,Python
12,chatchat-space /,GUI-focused roop,107 stars today,C++
13,facebook /,🔥 官方推荐 🔥 RuoYi-Vue 全新 Pro 版本，优化重构所有功能。基于 Sprin...,28 stars today,Python
14,Hillobar /,Open source clone of Theme Hospital,39 stars today,Java
15,YunaiV /,A cross-platform ChatGPT/Gemini UI (Web / PWA ...,67 stars today,Lua
16,CorsixTH /,This repository guides developers wanting to c...,189 stars today,TypeScript
17,ChatGPTNextWeb /,An intuitive GUI for GLIGEN that uses ComfyUI ...,379 stars today,JavaScript
18,scroll-tech /,Stable Diffusion web UI,106 stars today,Python
19,mut-ex /,Master programming by recreating your favorite...,177 stars today,Python
20,AUTOMATIC1111 /,"A collection of inspiring lists, manuals, chea...",252 stars today,--
21,codecrafters-io /,"Master the command line, in one page",502 stars today,--
22,trimstray /,Microsoft-Outlook-Remote-Code-Execution-Vulner...,152 stars today,--
23,jlevy /,--,369 stars today,--
24,xaitax /,--,61 stars today,--

In [59]:
# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
# following details: 
# A) Song name 
# B) Artist name 
# C) Last week rank 
# D) Peak rank 
# E) Weeks on board 
#  Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [162]:
driver= webdriver.Chrome()

In [163]:
driver.get('https:/www.billboard.com/')

In [164]:
designation = driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]')
designation.click()

In [165]:
designation1 = driver.find_element(By.XPATH, '/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a')
designation1.click()

In [166]:
song= []
artist= []
last_week= []
peak_rank= [] 
weeks_on_board= []

In [167]:
song_tag= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in song_tag:
    song_name= i.text
    song.append(song_name)

artist_tag= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for i in artist_tag:
    artist_name= i.text
    artist.append(artist_name)
    
last_week_tag= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]')
for i in last_week_tag:
    last= i.text
    last_week.append(last)
    
peak_rank_tag= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]')
for i in peak_rank_tag:
    peak= i.text
    peak_rank.append(peak)
    
weeks_on_board_tag= driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]')
for i in weeks_on_board_tag:
    weeks= i.text
    weeks_on_board.append(weeks)

In [168]:
print(len(song), len(artist), len(last_week), len(peak_rank), len(weeks_on_board))

100 100 100 100 100

In [170]:
df=pd.DataFrame({'Song':song,'Artist':artist,'Last Week':last_week,'Peak':peak_rank,'Weeks On Chart':weeks_on_board})
df

,Song,Artist,Last Week,Peak,Weeks On Chart
0,Lovin On Me,Jack Harlow,2,1,13
1,Lose Control,Teddy Swims,4,2,26
2,Beautiful Things,Benson Boone,8,3,3
3,Cruel Summer,Taylor Swift,3,1,40
4,Snooze,SZA,10,2,60
...,...,...,...,...,...
95,Worth It,Offset & Don Toliver,100,92,4
96,Northern Attitude,Noah Kahan With Hozier,97,37,10
97,Scared To Start,Michael Marcagi,-,98,1
98,First Love,Oscar Ortiz X Edgardo Nunez,91,91,3
99,Where It Ends,Bailey Zimmerman,-,32,7

In [12]:
# 6. Scrape the details of Highest selling novels. 
# A) Book name 
# B) Author name 
# C) Volumes sold 
# D) Publisher 
# E) Genre 
#  Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [26]:
driver= webdriver.Chrome()

In [27]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [35]:
books= [] 
authors= [] 
volume= [] 
publishers= [] 
genres= []

In [36]:
book_tag= driver.find_elements(By.XPATH,'//td[@class="left"][2]')
for i in book_tag:
    bookname= i.text
    books.append(bookname)

author_tag= driver.find_elements(By.XPATH,'//td[@class="left"][3]')
for i in author_tag:
    authorname= i.text
    authors.append(authorname)
    
volumes_tag= driver.find_elements(By.XPATH,'//td[@class="left"][4]')
for i in volumes_tag:
    volumeno= i.text
    volume.append(volumeno)
    
publisher_tag= driver.find_elements(By.XPATH,'//td[@class="left"][5]')
for i in publisher_tag:
    publishername= i.text
    publishers.append(publishername)
    
genre_tag= driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in genre_tag:
    genrename= i.text
    genres.append(genrename)

In [43]:
print(len(books),len(authors),len(volume),len(publisher),len(genre))

100 100 100 100 100

In [44]:
df= pd.DataFrame({'Book Name':books,'Author':authors,'Volumes Sold':volume,'Publisher':publisher,'Genre':genre})
df

,Book Name,Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [46]:
# 7. Scrape the details most watched tv series of all time from imdb.com. 
# Url = https://www.imdb.com/list/ls088281706/ You have 
# to find the following details: 
# A) Name 
# B) Year span 
# C) Genre 
# D) Run time 
# E) Ratings 
# F) Votes

In [53]:
driver= webdriver.Chrome()

In [54]:
driver.get('https://www.imdb.com/list/ls088281706/')

In [61]:
namess= [] 
yearspanss= [] 
genressss= []
runtimess= []
ratingsss= []
votesss= []

In [62]:
name_tag= driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in name_tag:
    nameofseries= i.text
    namess.append(nameofseries)

yearspan_tag= driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in yearspan_tag:
    spanyear= i.text
    yearspanss.append(spanyear)
    
genres_tag= driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genres_tag:
    genrestag= i.text
    genressss.append(genrestag)
    
rating_tag= driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
for i in rating_tag:
    ratingname= i.text
    ratingsss.append(ratingname)
    
runtime_tag= driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in runtime_tag:
    runtimename= i.text
    runtimess.append(runtimename)
    
vote_tag= driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in vote_tag:
    votename= i.text
    votesss.append(votename)

In [63]:
df= pd.DataFrame({'Name':namess,'Year Span':yearspanss,'Genre':genressss,'Run-Time':runtimess,'Rating':ratingsss,'Votes':votesss})
df

,Name,Year Span,Genre,Run-Time,Rating,Votes
0,Breaking Bad,(2008–2013),"Crime, Drama, Thriller",(2008–2013),9.5,"2,105,291"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",(2016–2025),8.7,"1,317,361"
2,Dexter,(2006–2013),"Crime, Drama, Mystery",(2006–2013),8.7,"758,617"
3,Chernobyl,(2019),"Drama, History, Thriller",(2019),9.3,"850,756"
4,True Detective,(2014– ),"Crime, Drama, Mystery",(2014– ),8.9,"639,112"
5,House of Cards,(2013–2018),Drama,(2013–2018),8.6,"527,842"
6,Black Mirror,(2011– ),"Drama, Mystery, Sci-Fi",(2011– ),8.7,"631,826"
7,Narcos,(I) (2015–2017),"Biography, Crime, Drama",(I) (2015–2017),8.8,"464,780"
8,Peaky Blinders,(2013–2022),"Crime, Drama",(2013–2022),8.8,"635,666"
9,Better Call Saul,(2015–2022),"Crime, Drama",(2015–2022),9,"634,902"
10,Fargo,(2014–2024),"Crime, Drama, Thriller",(2014–2024),8.9,"415,156"
11,Shameless,(2011–2021),"Comedy, Drama",(2011–2021),8.5,"278,748"
12,The Crown,(2016–2023),"Biography, Drama, History",(2016–2023),8.6,"253,290"
13,Succession,(2018–2023),"Comedy, Drama",(2018–2023),8.8,"263,026"
14,How I Met Your Mother,(2005–2014),"Comedy, Drama, Romance",(2005–2014),8.3,"723,164"
15,The Big Bang Theory,(2007–2019),"Comedy, Romance",(2007–2019),8.2,"859,679"
16,Money Heist,(2017–2021),"Action, Crime, Drama",(2017–2021),8.2,"525,613"
17,The Blacklist,(2013–2023),"Crime, Drama, Mystery",(2013–2023),7.9,"276,716"
18,The Handmaid's Tale,(2017– ),"Drama, Sci-Fi, Thriller",(2017– ),8.4,"255,511"

In [68]:
# 8. Details of Datasets from UCI machine learning repositories. 
# Url = https://archive.ics.uci.edu/ 
# You have to find the following details: 
# A) Dataset name 
# B) Data type 
# C) Task 
# D) Attribute type 
# E) No of instances 
# F) No of attribute 
# G) Year 
#  Note: - from the home page you have to go to the Show All Dataset page through code.

In [3]:
driver= webdriver.Chrome()

In [4]:
driver.get('https://archive.ics.uci.edu/')

In [5]:
alldatasets= driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
alldatasets.click()

In [6]:
expand= driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expand.click()

In [7]:
name= []
datatype= [] 
task= []
attribute= [] 
instances= []
no_of_attribute= [] 
year= []

In [8]:
name_tag= driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in name_tag:
    names= i.text
    name.append(names)
    
datatype_tag= driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]/span[1]')
for i in datatype_tag:
    data= i.text
    datatype.append(data)
    
task_tag= driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][1]/span[1]')
for i in task_tag:
    tasks= i.text
    task.append(tasks)
    
attribute_tag= driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[2]')
for i in attribute_tag:
    attributes= i.text
    attribute.append(attributes)
    
instances_tag= driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]/span[1]')
for i in instances_tag:
    instance= i.text
    instances.append(instance)
    
no_of_attribute_tag= driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][4]/span[1]')
for i in no_of_attribute_tag:
    no_of_attributes= i.text
    no_of_attribute.append(no_of_attributes)
    
year_tag= driver.find_elements(By.XPATH,'//tbody[@class="border"]/tr/td[3]')
for i in year_tag:
    years= i.text
    year.append(years)

In [9]:
df=pd.DataFrame({'Name':name,'Data type':datatype,'Task':task,'Attribute':attribute,'Instances':instances,'No of Attributes':no_of_attributes,'Year':year})
df

,Name,Data type,Task,Attribute,Instances,No of Attributes,Year
0,Iris,Tabular,Classification,Real,150 Instances,20 Features,7/1/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,20 Features,9/14/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,20 Features,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,20 Features,10/6/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,20 Features,5/1/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,20 Features,8/14/2023
6,Wine,Tabular,Classification,"Integer, Real",178 Instances,20 Features,7/1/1991
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,20 Features,11/1/1995
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,20 Features,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A